{% extends 'AppCoder/padre.html' %}

{% load static %}

{% block contenidocambiado %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREAR UN CURSO NUEVO</title>
</head>
<body>
    
    <br>
    <p style="color: rgb(0, 0, 0);" style="font-size: 8px;">FORMULARIO PARA CREAR UN NUEVO ESTUDIANTE</p>
    <br>

    <form action="" method="POST">{% csrf_token %}

        <table>

            {{ FormularioEstudiantes.as_table }}

        </table>

        <br>


        <input type="submit" value="Enviar">

    </form>
</body>
</html>

{% endblock contenidocambiado %}